body {
    margin: 0;
    background-color: #E6E6FA;
    padding-right: 0px !important;
    overflow: hidden;
}
.navbar-brand {
    font-weight: bold;
    font-size: 35px;
    color: white;
    font-family: fantasy;
}

.btn {
    margin-top: 20px;
}

.modal-content {
    background: transparent;
    border: none;
}
.test{
margin-top:0;
}